<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Abraham Carpio y Asociados</title>
</head>

<body>


  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid ">
      <a class="zoom-logo navbar-brand ml-5" href="./index.html">
        <img src="../images/logo.png" alt="Abraham Carpio">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="process.html">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="product.html">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">VIDEO</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="home" id="home">
    <section class="home-container">
      <div class="home-wrapper">
        <h1>¿Quieres saber cómo obtener un financiamiento?</h1>
        <p>Tal como lo viste en Finanzas para tu Bolsillo, si quieres un consejo gratuito para tu
          empresa inscríbete aquí y nos comunicaremos contigo.</p>
  
        <form id="form-suscriptor">
          <div class="form-row align-items-center">
            <div class="col-sm-12 col-md-7">
              <input type="email" class="form-control form-control-lg mb-2" id="emailInput"
                placeholder="Tu correo electronico" required>
            </div>
  
            <div class="col-auto">
              <button type="submit" id="button-submit" class="btn-suscription btn btn-primary mb-2">
                Inscríbete
              </button>
              <div id="msgResponse" class=""></div>
            </div>
          </div>
        </form>
      </div>
    </section>

  </div>


  <section class="nosotros">
    <div class="left-side">
      <div class="title">
        <h1>NOSOTROS</h1>
        <p>Somos asesores financieros con amplia experiencia en banca, evaluación de proyectos, créditos y cobranza.
          Ayudamos a las empresas a mejorar su gestión y rentabilidad con soluciones personalizadas. <br>
          Confidencialidad y calidad de servicio. </p>
          <a href="">VER MÁS</a>
      </div>
    </div>
    <div class="right-side">
    </div>
  </section>

  <section class="servicio">
    <div class="header-servicio">
      <h1>SERVICIOS</h1>
    </div>
    
  </section>

</body>

</html>